{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container py-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width:450px; width:100%; border-radius:12px;">
        
        <h3 class="text-center fw-bold mb-4">Reset Password</h3>

        {% if msg %}
        <div class="alert alert-warning text-center">{{ msg }}</div>
        {% endif %}

        <form method="POST" action="/reset-password">
            <label class="fw-semibold">New Password</label>
            <input type="password" name="new_password" class="form-control mb-3" required>

            <label class="fw-semibold">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control mb-3" required>

            <button class="btn btn-primary w-100">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}
